<!DOCTYPE html>
   <html>
   <head>
       <title><%= titulo %></title>  // Accede al título desde el objeto 'locals'
   </head>
   <body>
       <h1>¡Hola desde <%= titulo %>!</h1> // Accede al título aquí también
   </body>
   </html>
